.ball {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 0;
  z-index: 2;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(50px, -50%);
  background-color: aquamarine;

  &.strike {
    position: absolute;
    animation:
      bounce 5s linear infinite normal paused 0s none,
      strike 3s linear 1 normal running 0s none;
  }
}

@keyframes strike {
  3% {
    left: 0;
    width: 50px;
    height: 50px;
  }
  95% {
    width: 50px;
    height: 50px;
  }
  100% {
    left: calc(95% - 50px);
    top: 50%;
  }
}
