.ball {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  transform: translateY(-50%);

  &__bounce {
    animation: bounce 5s linear infinite normal running 0s none;
  }

  &__strike {
    background-color: aquamarine;
    animation: strike 3s linear 1 normal running 0s none;
  }
}

@keyframes strike {
  0% {
    left: 0;
    width: 50px;
    height: 50px;
  }
  99% {
    left: 97%;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
  }
  100% {
    left: 97%;
    transform: translateY(-50%);
    width: 0;
    height: 0px;
  }
}
